// cards
.cards {
  padding: 20px 0 130px 0;
  position: relative;
  background: linear-gradient(21.01deg, #000000 44%, #47EE9A 100%);

  @include media('md') {
    padding: 20px 0 80px 0;
    background: linear-gradient(5.36deg, #000000 50%, #47EE9A 100%);
  }

  .section_title {
    margin-bottom: 40px;

    @include media('md') {
      margin-bottom: 15px;
    }
  }

  &_in {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;

    @include media('xl') {
      grid-template-columns: repeat(2,1fr);
      gap: 12px;
    }

    @include media('md') {
      grid-template-columns: repeat(1,1fr);
    }
  }

  .card {
    border-radius: 15px;
    border: 2px solid $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &_img {
      background: $color-white;
      border-radius: 12px;
      overflow: hidden;
      padding: 16px 20px;

      img {
        width: 100%;
      }
    }

    &_text {
      padding: 12px 10px 35px 10px;

      @include media('md') {
        padding: 12px 10px 25px 10px;
      }

      h6 {
        font-weight: 700;
        font-size: 39.84px;
        line-height: 62px;
        color: $color-green;
        text-align: center;

        @include media('md') {
          font-size: 29px;
          line-height: 47px;
        }
      }

      p {
        border-top: 1px solid $color-green;
        border-bottom: 1px solid $color-green;
        padding: 24px 12px;
        font-weight: 400;
        font-size: 18.44px;
        line-height: 31px;
        text-align: center;
        color: $color-green;

        @include media('md') {
          font-size: 14.41px;
          line-height: 23px;
          padding: 15px 12px;
        }
      }

      button {
        margin: 24px 24px 0 24px;
        width: calc(100% - 48px);
        height: 54px;
        border-radius: 3px;
        font-weight: 700;
        font-size: 16.45px;
        line-height: 27.9px;
        text-align: center;
        color: $color-white;
        border: 3px solid #86D0AB;
        background: #0F3321;
        border-radius: 10px;

        @include media('md') {
          height: 44px;
        }
      }
    }
  }

  .register_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto 0 auto;
    width: 258px;
    height: 64px;
    font-weight: 600;
    font-size: 15.89px;
    line-height: 27.9px;
    color: $color-white;
    border-radius: 15px;
    background: $color-blue;

    @include media('md') {
      font-size: 13px;
      width: 200px;
      height: 53px;
      margin: 28px auto 0 auto;
    }
  }
}
// cards
