// comment
.comment {
  padding: 20px 0 105px 0;
  background: linear-gradient(234.81deg, #000000 76%, #47EE9A 100%);

  .section_title {
    margin-bottom: 45px;
  }

  &_slider {
    position: relative;
  }

  .comment_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @include media('md') {
      width: 24px;
      height: 24px;
    }
  }

  .comment_btn_prev {
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .comment_btn_next {
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .swiper-button-disabled {
    opacity: 50%;
  }

  .commentSwiper {
    .comment-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      .swiper-pagination-bullet {
        background: $color-white;
        transition: .3s ease;
        opacity: 1;

        &-active {
          background: #222222;
        }
      }
    }
  }

  &_card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: auto;

    @include media('md') {
      gap: 25px;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      max-width: 628px;
      font-weight: 400;
      font-size: 17.66px;
      line-height: 31px;
      text-align: center;
      color: $color-white;

      @include media('md') {
        font-size: 14px;
        line-height: 23px;
      }
    }

    h6 {
      font-weight: 700;
      font-size: 20.63px;
      line-height: 29.7px;
      text-align: center;
      color: $color-green;

      @include media('md') {
        font-size: 16px;
        line-height: 24px;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21.7px;
      text-align: center;
      color: $color-white;
    }
  }

  &_name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }


  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
      width: 15px;
      height: 15px;

      path {
        fill: $color-white;
      }
    }
  }
}
// comment
